name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cargo/.crates.toml
          ~/.cargo/.crates2.json
          target/
          frontend/dist/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install Trunk
      run: cargo install --locked trunk

    - name: Install the Tauri CLI
      run: cargo install tauri-cli

    - name: Add the WASM target
      run: rustup target add wasm32-unknown-unknown

    - name: Install dependencies
      run: sudo apt-get install -y libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev

    - name: Build
      run: cd backend && cargo tauri build --verbose
      env:
        DATABASE_URL: sqlite:assets/test.db

    - name: Run tests
      run: cargo test --verbose -- --nocapture
      env:
        DATABASE_URL: sqlite:assets/test.db
